
.backGroundColor {
    background: lightgray;
}
.noMargin{
    margin-top: 0px !important;margin-bottom: 0px !important;

}

.backgroundHover:hover
{
   transform: scale(1.3);
}
#sourceCode:hover{
    background: lightgray;
    cursor: pointer;

}